<app-the-content></app-the-content>

<div class="container">
  <div class="row">
    <div class="col-lg-10">
      <div class="card">

        <ng-container *ngFor="let pots of DeacuSperSaMearga1[10]">

          <a [href]="pots" target="_blank" (click)="setValue()">Go somewhere</a>
        </ng-container>
<!-- <div>
  <div class="input-group mb-12">
    <input type="text" cl="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="err">
  </div>

</div> -->


      </div>
    </div>
  </div>
</div>
