<div class="container">
  <div class="row">
    <div class="col-lg-10">
      <div class="card">

        <ng-container *ngFor="let pots of DeacuSperSaMearga1[10]">

          <div *ngFor="let post of DeacuSperSaMearga1">
            <h5>{{ post.title }}</h5>
            <h5 class="card-text">{{ post.ups }}</h5>
            <h5 class="card-text">{{ post.downs }}</h5>
            <a [href]="pots" target="_blank" (click)="setValue()">Go somewhere</a>
          </div>
        </ng-container>
<!-- <div>
  <div class="input-group mb-12">
    <input type="text" cl="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="err">
  </div>

</div> -->


      </div>
    </div>
  </div>
</div>
